
<link type="text/css" rel="stylesheet" href="styles/headerStyle.css">

<header class="header container-fluid">
    <div class="container">
        <div class="row">

            <!-- logo -->
            <div class="logo col-md-3">
                <h1><a href="pages/index.html">LOGO</a></h1>
            </div>

            <!-- navigation -->
            <nav class="index-nav col-md-9">
                <ul>
                    <li><a href="#">  </a></li>
                    <li><a href="#">  </a></li>
                </ul>
            </nav>

            
        </div>
    </div>
</header>