<!DOCTYPE html>
<html>
    <head>
        <title>Departure</title>
        <% include ../master/head.html %>
        <link href="styles/indexStyle.css" rel="stylesheet">
        <script src="scripts/webcamjs/webcam.js"></script>
    </head>
    <body>
        <!-- including header.html -->
        <% include ../master/header.html %>
        
        <% include ../master/sidebar.html %>
        <div class="container content">
            <div class="row">
                <!-- for spacing -->
                <div class="col-md-2"> </div>

                <!-- webcam -->
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="my_camera" style="width: 320px; height:270px;"></div>
                            <button id="captureBtn" class="captureBtn">Capture</button>
                        </div>
                        <div class="col-md-6">
                            <div id="my_result"></div>
                            <button id="confirmBtn" class="confirmBtn">Confirm</button>
                            <button id="recaptureBtn" class="recaptureBtn">Recapture</button>
                        </div>
                        
                        
                        <script language="JavaScript">
                            Webcam.attach( '#my_camera' );
    
                            var data = {};
                            var rawData;
    
                            function take_snapshot() {
                                Webcam.snap( function(data_uri) {
                                    console.log(data_uri);
                                    document.getElementById('my_result').innerHTML = '<img src="'+data_uri+'"/>';
                                    var raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');
                                    rawData = raw_image_data;
                                } );

                                var confirmBtn = document.getElementById('confirmBtn');
                                confirmBtn.style.visibility = "visible";

                                var recaptureBtn = document.getElementById('recaptureBtn');
                                recaptureBtn.style.visibility = "visible";
                            }
    
                            function sendImage(){
                                data.content = rawData;
    
                                $.ajax({
                                    type: 'POST',
                                    data: JSON.stringify(data),
                                    contentType: 'application/json',
                                    url: 'http://localhost:8080/departure',						
                                    success: function(data) {
                                        console.log('success');
                                        console.log(JSON.stringify(data));
                                        window.location = data.url;
                                    }
                                });
                            }

                            function recapture(){
                                location.reload();
                            }
                        </script>

                    </div>

                    <script>
                        captureBtn = document.getElementById('captureBtn');
                        captureBtn.addEventListener('click', take_snapshot, false);

                        var confirmBtn = document.getElementById('confirmBtn');
                        confirmBtn.addEventListener('click', sendImage, false);

                        recaptureBtn.addEventListener('click', recapture, false);
                    </script>
                </div>
                <!-- for spacing -->
                <div class="col-md-2"></div>
            </div>
            
        </div>
        

        <!-- including footer.html -->
    </body>
</html>