<h1>Hello from test</h1>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

    var data = {};
    data.title = "title";
    data.message = "message";

    $.ajax({
        type: 'POST',
        data: JSON.stringify(data),
        contentType: 'application/json',
        url: 'http://localhost:8080/uploadAjax',						
        success: function(data) {
            console.log('success');
            console.log(JSON.stringify(data));
            window.location = data.url;
        }
    });
    
</script>


