.header{
    height: 80px;
    background-color: #36373D;
}

.logo a{
    color: white;
    text-decoration: none;
    float: left;
}

.title{
    float: right;
    color: white;
}

.title h2{
    float: right;
}